.banner {
  display: flex;
  flex-direction: column;
  height: 100vh !important; }
  .banner #icons {
    flex: 1;
    display: flex;
    width: 90%;
    margin: auto; }
    .banner #icons .fa {
      text-decoration: none;
      margin-top: 30px; }
      .banner #icons .fa:hover {
        opacity: 0.7; }
    .banner #icons .fa-facebook-square {
      margin-left: 0;
      margin-right: 20px;
      font-size: 4rem;
      color: #479EFC; }
    .banner #icons .fa-instagram {
      font-size: 4rem;
      color: #FCDA33; }
  .banner #image-container {
    flex: 1; }
    .banner #image-container #logo {
      display: block;
      margin: 0 auto 0 auto;
      width: 80%;
      max-width: 400px; }
  .banner .ball-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap; }
    .banner .ball-container .ball {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      margin: 0 10px 50px 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%; }
    .banner .ball-container #blue {
      background-color: #479EFC; }
    .banner .ball-container #yellow {
      background-color: #FCDA33; }
    .banner .ball-container #red {
      background-color: #DE392D; }

@media only screen and (max-width: 600px) {
  #icons {
    margin: 40px 0 0 0;
    justify-content: center; } }

.navbar {
  display: flex;
  background-color: #DE392D; }
  .navbar .navbar-ghost {
    width: 0px; }
  .navbar .navbar-container {
    margin: auto;
    width: 100%;
    background-color: #DE392D; }
    .navbar .navbar-container nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: #DE392D;
      width: 90%;
      margin: auto; }
      .navbar .navbar-container nav .menu-wrapper {
        width: 14%; }
        .navbar .navbar-container nav .menu-wrapper .logo-container {
          width: 100%; }
          .navbar .navbar-container nav .menu-wrapper .logo-container #navbar-logo {
            width: 140px;
            height: 70px; }
        .navbar .navbar-container nav .menu-wrapper .show-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          color: white; }

.menu-container {
  width: 86%; }
  .menu-container .menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .menu-container .menu li {
      width: auto;
      list-style-type: none;
      margin: 5px 3% 5px 3%;
      text-align: center; }
      .menu-container .menu li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-family: "Nexa Light", sans-serif;
        cursor: pointer; }
        .menu-container .menu li a:hover {
          font-family: "Nexa Bold", sans-serif; }

.fixed {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0; }

@media only screen and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
    nav .menu-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100% !important; }
      nav .menu-wrapper .logo-container {
        margin: 0 30px 0 0; }
      nav .menu-wrapper > a {
        margin: 0 0 0 30px;
        display: block;
        font-size: 2rem;
        cursor: pointer; }
    nav .menu-container-navbar {
      position: fixed;
      height: 100%;
      width: 0;
      top: 0;
      right: 0;
      z-index: 2;
      margin: auto;
      overflow-x: hidden;
      background-color: #DE392D; }
      nav .menu-container-navbar .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0; }
  .menu-container-side {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    overflow-x: hidden;
    background-color: #C43227;
    transition-timing-function: ease-in-out;
    transition: width 0.5s; }
    .menu-container-side .menu-side {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 60%;
      padding-left: 20px; }
      .menu-container-side .menu-side a {
        white-space: nowrap; } }

@media screen and (min-width: 1025px) {
  .navbar-container nav .menu-wrapper .show-menu {
    display: none !important; }
  .menu-container-side {
    display: none; }
    .menu-container-side .menu-side {
      display: none; } }

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .about .text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto; }
    .about .text-wrapper .text-container {
      width: 75%; }
      .about .text-wrapper .text-container .image-container {
        width: 70%;
        margin: 10px auto 10px auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: nowrap; }
        .about .text-wrapper .text-container .image-container img {
          width: 100%;
          max-width: 400px; }
      .about .text-wrapper .text-container h1 {
        margin: 20px auto 20px auto;
        text-align: left;
        color: #DE392D;
        font-size: 2.3rem;
        font-family: "Nexa Bold", sans-serif; }
      .about .text-wrapper .text-container p {
        margin: 20px auto 20px auto;
        font-family: "Avenir", sans-serif; }
  .about #carousel-wrapper .carousel-about {
    min-height: 100%;
    display: flex; }
    .about #carousel-wrapper .carousel-about .slick-slide {
      overflow: hidden;
      height: auto;
      width: 50%; }
    .about #carousel-wrapper .carousel-about .slick-dots {
      bottom: 50px;
      max-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap; }
      .about #carousel-wrapper .carousel-about .slick-dots li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 15px; }
        .about #carousel-wrapper .carousel-about .slick-dots li .dot {
          min-width: 1.3rem;
          max-width: 1.3rem;
          min-height: 1.3rem;
          max-height: 1.3rem;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%; }
      .about #carousel-wrapper .carousel-about .slick-dots li:nth-child(1) .dot {
        border: 4px solid #479EFC;
        background-color: #479EFC; }
      .about #carousel-wrapper .carousel-about .slick-dots li:nth-child(2) .dot {
        border: 4px solid #FCDA33;
        background-color: #FCDA33; }
      .about #carousel-wrapper .carousel-about .slick-dots li:nth-child(3) .dot {
        border: 4px solid #DE392D;
        background-color: #DE392D; }
      .about #carousel-wrapper .carousel-about .slick-dots .slick-active .dot {
        background-color: transparent !important; }

@media only screen and (max-width: 1025px) {
  .about {
    flex-direction: column-reverse; }
    .about .text-wrapper {
      width: 100% !important; }
      .about .text-wrapper .text-container {
        width: 90% !important; }
    .about #carousel-wrapper .carousel-about {
      max-width: 100vw !important; }
      .about #carousel-wrapper .carousel-about .slick-slide {
        max-width: 100vw !important; }
        .about #carousel-wrapper .carousel-about .slick-slide img {
          max-height: 100%;
          width: auto;
          max-width: 100vw !important; } }

@media only screen and (min-width: 1025px) {
  .about .text-wrapper {
    width: 40%; }
  .about #carousel-wrapper {
    width: 60%; }
    .about #carousel-wrapper .carousel-about .slick-slide img {
      height: 93vh !important; } }

.cards {
  width: 80%;
  margin: 0 auto 5% auto; }
  .cards .text-container .title-wrapper {
    color: #DE392D;
    font-family: "Nexa Bold", sans-serif; }
    .cards .text-container .title-wrapper h1 {
      margin-bottom: 0;
      font-size: 2.3rem; }
  .cards .text-container .text-wrapper {
    width: 100%;
    font-family: "Avenir", sans-serif;
    text-align: left; }
  .cards .carousel-wrapper {
    margin: 50px auto; }
    .cards .carousel-wrapper .carousel-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap; }
      .cards .carousel-wrapper .carousel-cards .card {
        text-align: center;
        flex-direction: column;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        max-width: 27%;
        padding: 10px; }
        .cards .carousel-wrapper .carousel-cards .card h2 {
          margin: 20px 0 20px 0;
          font-size: 2.1rem;
          font-family: "Nexa Bold", sans-serif; }
        .cards .carousel-wrapper .carousel-cards .card p {
          width: 90%;
          margin: 0 auto 0 auto;
          padding-bottom: 30px;
          font-family: "Avenir", sans-serif; }
      .cards .carousel-wrapper .carousel-cards .blue {
        -webkit-box-shadow: 0 0 0 0.3em #479EFC;
        -moz-box-shadow: 0 0 0 0.3em #479EFC;
        box-shadow: 0 0 0 0.3em #479EFC; }
        .cards .carousel-wrapper .carousel-cards .blue h2 {
          color: #479EFC; }
      .cards .carousel-wrapper .carousel-cards .yellow {
        -webkit-box-shadow: 0 0 0 0.3em #FCDA33;
        -moz-box-shadow: 0 0 0 0.3em #FCDA33;
        box-shadow: 0 0 0 0.3em #FCDA33; }
        .cards .carousel-wrapper .carousel-cards .yellow h2 {
          color: #FCDA33; }
      .cards .carousel-wrapper .carousel-cards .red {
        -webkit-box-shadow: 0 0 0 0.3em #DE392D;
        -moz-box-shadow: 0 0 0 0.3em #DE392D;
        box-shadow: 0 0 0 0.3em #DE392D; }
        .cards .carousel-wrapper .carousel-cards .red h2 {
          color: #DE392D; }
      .cards .carousel-wrapper .carousel-cards .slick-dots {
        max-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap; }
        .cards .carousel-wrapper .carousel-cards .slick-dots li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 15px; }
          .cards .carousel-wrapper .carousel-cards .slick-dots li .dot {
            min-width: 1.3rem;
            max-width: 1.3rem;
            min-height: 1.3rem;
            max-height: 1.3rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%; }
        .cards .carousel-wrapper .carousel-cards .slick-dots li:nth-child(1) .dot {
          border: 4px solid #479EFC;
          background-color: #479EFC; }
        .cards .carousel-wrapper .carousel-cards .slick-dots li:nth-child(2) .dot {
          border: 4px solid #FCDA33;
          background-color: #FCDA33; }
        .cards .carousel-wrapper .carousel-cards .slick-dots li:nth-child(3) .dot {
          border: 4px solid #DE392D;
          background-color: #DE392D; }
        .cards .carousel-wrapper .carousel-cards .slick-dots .slick-active .dot {
          background-color: transparent !important; }

@media screen and (max-width: 1025px) {
  .cards {
    width: 100%; }
    .cards .text-container {
      text-align: center;
      width: 90%;
      margin: auto; }
      .cards .text-container h1 {
        display: none; }
  .card {
    margin: 20px; }
    .card h2 {
      font-size: 2rem; }
    .card p {
      font-size: 0.8rem; } }

.team {
  width: 90%;
  margin: auto; }
  .team .title-container {
    width: 80%;
    margin: auto; }
    .team .title-container h1 {
      color: #DE392D;
      font-size: 2.3rem;
      font-family: "Nexa Bold", sans-serif; }
  .team .carousel-team {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center; }
    .team .carousel-team .participant-container {
      display: flex; }
      .team .carousel-team .participant-container .participant {
        margin: 0 auto 0 auto;
        max-width: 20%; }
        .team .carousel-team .participant-container .participant img {
          width: 100%;
          max-width: 200px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          margin: auto; }
        .team .carousel-team .participant-container .participant .text-container {
          font-family: "Nexa Bold", sans-serif;
          text-align: center;
          margin-top: 15px; }
          .team .carousel-team .participant-container .participant .text-container * {
            padding: 0;
            margin: 5px 0 5px 0; }
          .team .carousel-team .participant-container .participant .text-container a, .team .carousel-team .participant-container .participant .text-container .email {
            color: #DE392D; }
          .team .carousel-team .participant-container .participant .text-container .name, .team .carousel-team .participant-container .participant .text-container .github, .team .carousel-team .participant-container .participant .text-container .code-forces {
            color: #479EFC; }
          .team .carousel-team .participant-container .participant .text-container .name {
            font-size: 1.2rem; }
    .team .carousel-team .arrow {
      color: #DE392D;
      margin: 10px;
      cursor: pointer;
      font-size: 5rem; }

@media screen and (max-width: 960px) {
  .team {
    width: 90%; }
    .team .carousel-team {
      width: 100%; }
      .team .carousel-team .participant-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; }
        .team .carousel-team .participant-container .participant {
          display: flex;
          max-height: 150px !important;
          align-items: center;
          max-width: 100%; }
          .team .carousel-team .participant-container .participant img {
            margin-left: 10px;
            margin-right: 10px;
            max-width: 100px; }
        .team .carousel-team .participant-container .participant:nth-child(2n) {
          flex-direction: row-reverse; } }

@media screen and (max-width: 440px) {
  .team {
    width: 100%; }
  .participant img {
    width: 30%; }
  .participant .text-container p {
    font-size: 3vw; } }

.schedule-container {
  width: 85%;
  margin: 0 auto 0 auto; }
  .schedule-container .schedule-title {
    font-size: 2.3rem;
    color: #DE392D;
    font-family: "Nexa Bold", sans-serif; }
  .schedule-container .schedule-table {
    width: 100%;
    border: 5px solid #DE392D;
    max-height: 450px;
    overflow: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px; }
    .schedule-container .schedule-table .schedule {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap; }
      .schedule-container .schedule-table .schedule .title-wrapper {
        width: 100%;
        background-color: #DE392D;
        margin-bottom: 17.6px;
        font-family: "Nexa Bold", sans-serif; }
        .schedule-container .schedule-table .schedule .title-wrapper h1 {
          text-align: left;
          color: white;
          margin: 10px 0 10px 20px; }
      .schedule-container .schedule-table .schedule .text-container {
        width: 80%; }
        .schedule-container .schedule-table .schedule .text-container p {
          margin-top: 0px;
          text-align: center;
          color: #DE392D;
          border: 3px solid #DE392D;
          padding: 8px 0 8px 0;
          font-family: "Nexa Bold", sans-serif;
          font-size: 1.1rem;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px; }

.title-blue {
  background-color: #479EFC !important; }

.text-blue p {
  color: #479EFC !important;
  border: 3px solid #479EFC !important; }

#testimonials-news {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px auto; }
  #testimonials-news .testimonials {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap; }
    #testimonials-news .testimonials h1 {
      color: #DE392D;
      font-size: 2.3rem;
      font-family: "Nexa Bold", sans-serif; }
    #testimonials-news .testimonials .carousel-testimonials .message-container {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      margin: 30px auto -20px auto; }
      #testimonials-news .testimonials .carousel-testimonials .message-container .message {
        width: 80% !important;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        min-height: 95px;
        max-height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap; }
        #testimonials-news .testimonials .carousel-testimonials .message-container .message .content {
          margin: 15px auto 0 auto;
          color: #DE392D;
          font-family: "Nexa Bold", sans-serif;
          width: 90%; }
        #testimonials-news .testimonials .carousel-testimonials .message-container .message .author {
          margin: 0 auto 10px auto;
          font-size: 0.8rem;
          font-family: "Nexa Light", sans-serif;
          width: 90%;
          text-align: right; }
      #testimonials-news .testimonials .carousel-testimonials .message-container svg {
        margin: -5px 15px 0 0; }
    #testimonials-news .testimonials .carousel-testimonials .invert {
      align-items: flex-start; }
      #testimonials-news .testimonials .carousel-testimonials .invert svg {
        fill: white;
        margin: -5px 0 0 15px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); }
        #testimonials-news .testimonials .carousel-testimonials .invert svg .triangle {
          fill: white;
          stroke: #479EFC;
          stroke-width: 5; }
    #testimonials-news .testimonials .carousel-testimonials .blue-message .message {
      border: 5px solid #479EFC; }
    #testimonials-news .testimonials .carousel-testimonials .blue-message svg .triangle {
      fill: white;
      stroke: #479EFC;
      stroke-width: 5; }
    #testimonials-news .testimonials .carousel-testimonials .red-message .message {
      border: 5px solid #DE392D; }
    #testimonials-news .testimonials .carousel-testimonials .red-message svg .triangle {
      fill: white;
      stroke: #DE392D;
      stroke-width: 5; }
    #testimonials-news .testimonials .carousel-testimonials .yellow-message .message {
      border: 5px solid #FCDA33; }
    #testimonials-news .testimonials .carousel-testimonials .yellow-message svg .triangle {
      fill: white;
      stroke: #FCDA33;
      stroke-width: 5; }

@media screen and (max-width: 1025px) {
  #testimonials-news {
    flex-direction: column; }
    #testimonials-news .testimonials {
      width: 80%; } }

@media screen and (max-width: 900px) {
  #testimonials-news .testimonials {
    width: 100%; }
    #testimonials-news .testimonials .carousel-testimonials .message-container {
      margin: 30px auto -20px auto; }
      #testimonials-news .testimonials .carousel-testimonials .message-container .message {
        min-height: 130px;
        max-height: 130px; } }

#testimonials-news .news {
  width: 50%;
  display: flex;
  align-items: center; }
  #testimonials-news .news .news-wrapper {
    padding: 1px;
    min-height: 500px;
    background-color: #DE392D;
    width: 90%;
    margin: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px; }
    #testimonials-news .news .news-wrapper h1 {
      text-align: center;
      margin-bottom: 25px;
      color: white;
      font-size: 2.3rem;
      font-family: "Nexa Bold", sans-serif; }
    #testimonials-news .news .news-wrapper .carousel-news {
      height: 75%;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap; }
      #testimonials-news .news .news-wrapper .carousel-news .new-container {
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: -10px 0 0px 0; }
        #testimonials-news .news .news-wrapper .carousel-news .new-container .new {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          background-color: white;
          margin: 20px 0 20px 0;
          width: 90%;
          padding: 5px;
          text-decoration: none;
          color: black; }
          #testimonials-news .news .news-wrapper .carousel-news .new-container .new img {
            width: 60px;
            height: 60px;
            margin: 10px; }
          #testimonials-news .news .news-wrapper .carousel-news .new-container .new .text-container {
            max-width: 60%;
            min-width: 60%; }
            #testimonials-news .news .news-wrapper .carousel-news .new-container .new .text-container h2 {
              font-size: 0.8rem;
              font-family: "Nexa Light", sans-serif; }
            #testimonials-news .news .news-wrapper .carousel-news .new-container .new .text-container h3 {
              font-size: 0.6rem;
              font-family: "Nexa Light", sans-serif;
              text-align: center; }
          #testimonials-news .news .news-wrapper .carousel-news .new-container .new:hover {
            opacity: 0.7; }
      #testimonials-news .news .news-wrapper .carousel-news .slick-dots {
        max-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap; }
        #testimonials-news .news .news-wrapper .carousel-news .slick-dots li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: -50px 5px 0 5px; }
          #testimonials-news .news .news-wrapper .carousel-news .slick-dots li .dot {
            min-width: 1rem;
            max-width: 1rem;
            min-height: 1rem;
            max-height: 1rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%; }
        #testimonials-news .news .news-wrapper .carousel-news .slick-dots li:nth-child(1) .dot {
          border: 2px solid #479EFC;
          background-color: #479EFC; }
        #testimonials-news .news .news-wrapper .carousel-news .slick-dots li:nth-child(2) .dot {
          border: 2px solid #FCDA33;
          background-color: #FCDA33; }
        #testimonials-news .news .news-wrapper .carousel-news .slick-dots li:nth-child(3) .dot {
          border: 2px solid white;
          background-color: white; }
        #testimonials-news .news .news-wrapper .carousel-news .slick-dots .slick-active .dot {
          background-color: transparent !important; }

@media screen and (max-width: 1025px) {
  #testimonials-news .news {
    margin-top: 50px;
    width: 90%; } }

@media screen and (max-width: 900px) {
  #testimonials-news .news {
    margin-top: 50px;
    width: 100%; } }

.partners {
  display: flex;
  height: 50vh !important;
  width: 90%;
  margin: auto; }
  .partners .text-container h1 {
    color: #DE392D;
    font-family: "Nexa Bold", sans-serif;
    font-size: 2.3rem; }
  .partners .text-container p {
    font-family: "Avenir", sans-serif; }
  .partners .carousel-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    height: 50%; }
    .partners .carousel-partners .slick-list {
      height: 90%; }
      .partners .carousel-partners .slick-list .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 90%; }
        .partners .carousel-partners .slick-list .slick-track .partner-container {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: column;
          flex-wrap: nowrap;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          transition: all .5s ease;
          overflow: hidden;
          height: 80%;
          width: 60%;
          max-width: 80%; }
          .partners .carousel-partners .slick-list .slick-track .partner-container img {
            height: 100%;
            margin: 0 auto;
            bottom: 0 !important; }
          .partners .carousel-partners .slick-list .slick-track .partner-container .plus {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            background-color: #FCDA33;
            padding: 5px;
            padding-bottom: 2px;
            cursor: pointer;
            text-align: center;
            margin-top: -1.6rem;
            margin-right: 25%; }
            .partners .carousel-partners .slick-list .slick-track .partner-container .plus i {
              color: white;
              font-size: 1rem; }
        .partners .carousel-partners .slick-list .slick-track .slick-center {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          transform: scale(1.25); }
          .partners .carousel-partners .slick-list .slick-track .slick-center .partner-container {
            height: 100%;
            width: 100%; }
    .partners .carousel-partners .arrow {
      color: #DE392D;
      margin: 10px;
      cursor: pointer;
      font-size: 5rem; }

@media screen and (min-width: 1050px) {
  section:not(.navbar):nth-child(2n) {
    height: 85vh !important;
    max-width: 100vw !important; }
  section:not(.navbar).about {
    height: 93vh !important; }
  section:not(.navbar).banner {
    height: 100vh !important; }
  section:not(.navbar).cards {
    height: 90vh !important; }
  section:not(.navbar).team {
    margin: -20vh auto -20vh auto; } }

.slick-slide {
  outline: none !important; }
  .slick-slide * {
    outline: none !important; }
.leaderboards-container {
  width: 80%;
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px; }
  .leaderboards-container h1 {
    color: #DE392D;
    font-size: 2.3rem;
    font-family: "Nexa Bold", sans-serif; }
  .leaderboards-container h2 {
    color: #DE392D;
    font-size: 1.7rem;
    font-family: "Nexa Bold", sans-serif; }
  .leaderboards-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #DE392D;
    font-size: 1.3rem;
    font-family: "Nexa Bold", sans-serif;
    text-align: center;
    vertical-align: center;
    margin-left: -25px; }
  .leaderboards-container #medal {
    height: 150px;
    margin-left: -25px; }
  .leaderboards-container .leaderboards-table {
    max-width: 80%;
    display: flex;
    flex-direction: row; }
    .leaderboards-container .leaderboards-table .medal-title-container {
      display: flex;
      flex-direction: row; }
      .leaderboards-container .leaderboards-table .medal-title-container .subtitle-cotainer {
        align-items: center;
        vertical-align: center; }
    .leaderboards-container .leaderboards-table .leaderboards-type-title {
      color: white; }
    .leaderboards-container .leaderboards-table .leaderboards-national {
      display: flex;
      flex-direction: row;
      width: 35%; }
    .leaderboards-container .leaderboards-table .leaderboards-international {
      display: flex;
      flex-direction: row;
      width: 65%; }
  @media only screen and (max-width: 1024px) {
    .leaderboards-container .leaderboards-table {
      flex-direction: column; }
      .leaderboards-container .leaderboards-table .leaderboards-national, .leaderboards-container .leaderboards-table .leaderboards-international {
        flex-direction: column; } }

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 30px 0 30px 0;
  background-color: #DE392D;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .footer-container a, .footer-container p {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    color: white;
    font-family: "Nexa Light", sans-serif; }
  .footer-container .footer-title {
    font-size: 1.7rem;
    font-family: "Nexa Bold", sans-serif; }
  .footer-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column; }
    .footer-container .logo-container #navbar-logo {
      width: 380px;
      height: 120px; }
  .footer-container .contact-container #contact-icon {
    width: 100px;
    height: 80px; }
  .footer-container .contact-container h2 {
    color: white; }
  .footer-container .contact-container p {
    margin-top: -5px; }
  .footer-container .social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-direction: column; }
    .footer-container .social-container #social-icon {
      width: 100px;
      height: 100px; }
    .footer-container .social-container #signature-icon {
      color: white;
      width: 100px;
      height: 35px;
      display: block; }
    .footer-container .social-container .social-medias {
      display: flex;
      flex-direction: row; }
    .footer-container .social-container .signature {
      flex-direction: column; }
      .footer-container .social-container .signature a {
        margin-left: -20px;
        margin-right: -20px; }

@media only screen and (max-width: 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column; }
    .footer-container .logo-container {
      display: none; } }

body, html {
  margin: 0;
  scroll-behavior: smooth; }

@font-face {
  font-family: "Nexa Bold";
  src: url("../font/Nexa-Bold.otf");
  font-weight: 300;
  font-style: bold; }

@font-face {
  font-family: "Nexa Light";
  src: url("../font/Nexa-Light.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../font/AvenirLTStd-Book.otf");
  font-weight: 300;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */