$blue: #479EFC;
$yellow: #FCDA33;
$red: #DE392D;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin absolutewh($width, $height) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}