{% load static %}
<section class="about">
  <div class="text-wrapper">
    <div class="text-container">
      <div class="image-container">
        <img src="media/logo-small.svg" alt="logo">
      </div>
      <h1>Por trás do códigos</h1>
      <p>Texto de apresentação à maratona Texto de apresentação à maratona Texto de apresentação à maratona Texto de
        apresentação à maratona </p>
    </div>
  </div>
  <div id="carousel-wrapper">
    <div class="carousel-about">
      <div><img src="media/about-maratona-1.jpg" alt="code" /></div>
      <div><img src="media/about-maratona-2.jpg" alt="code" /></div>
      <div><img src="media/about-maratona-3.jpg" alt="code" /></div>
    </div>
  </div>
</section>