{% load static %}
<section class="about">
  <div class="text-wrapper">
    <div class="text-container">
      <div class="image-container">
        <img src="media/logo.png" alt="">
      </div>
      <h1>Por trás do códigos</h1>
      <p>Texto de apresentação à maratona Texto de apresentação à maratona Texto de apresentação à maratona Texto de apresentação à maratona </p>
    </div>
  </div>
  <div id="carousel-wrapper">
    <div class="carousel-about">
      <div><img
          src="media/code.jpg"
          alt="darksiders2" /></div>
      <div><img
          src="https://img.discogs.com/NMRgqMru-hDeZsEpizxi66vCbwE=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-10962093-1507571072-9130.jpeg.jpg"
          alt="grand-theft-auto-san-andreas" /></div>
      <div><img src="https://www.mobygames.com/images/covers/l/274542-terraria-ps-vita-front-cover.jpg"
          alt="terraria" />
      </div>
    </div>
  </div>
</section>