<section id="cards">
  <div class="text-container">
    <div class="title-wrapper">
      <h1>Por trás dos códigos</h1>
    </div>
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem
      ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
  </div>
  <div class="carousel-wrapper">
    <div class="carousel-cards">
      <div class="card">
        <h2>Organização</h2>
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
      </div>
      <div class="card">
        <h2>Metodologia</h2>
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
      </div>
      <div class="card">
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
      </div>
    </div>
  </div>
</section>