<section class="cards">
  <div class="text-container">
    <div class="title-wrapper">
      <h1>Por trás dos códigos</h1>
    </div>
    <div class="text-wrapper">
      <p>Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA Texto de apresentação da maratona ESQUERDA</p>
      <p>Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA Texto de apresentação da maratona DIREITA</p>
    </div>
  </div>
  <div class="carousel-wrapper">
    <div class="carousel-cards">
      <div class="card blue">
        <h2>Organização</h2>
        <p>Texto explicando como é a organização Texto explicando como é a organização Texto explicando como é a organização Texto explicando como é a organização Texto explicando como é a organização Texto explicando como é a organização </p>
      </div>
      <div class="card yellow">
        <h2>Metodologia</h2>
        <p>Texto explicando como é a metodologia Texto explicando como é a metodologia Texto explicando como é a metodologia Texto explicando como é a metodologia Texto explicando como é a metodologia Texto explicando como é a metodologia </p>
      </div>
      <div class="card red">
        <h2>Objetivos</h2>
        <p>Texto explicando quais são os objetivos Texto explicando quais são os objetivos Texto explicando quais são os objetivos Texto explicando quais são os objetivos Texto explicando quais são os objetivos Texto explicando quais são os objetivos </p>
      </div>
    </div>
  </div>
</section>