{% load static %}

<section class="footer">
  <div class ="logo-container">
    <img src="media/logo-navbar.svg" alt="logo" id="navbar-logo">
    <p>Todos os direitos reservados.</p>
  </div>
  <div class ="contact-container">
    <h2 class="footer-title">Contato:</h2>
    <p>maratonacin@gmail.com<a><img src="media/message.svg" alt="Ícone de uma mensagem" id="contact-icon"></a></p>
    <p>Avenida Jornalista Aníbal Fernandes,</p>
    <p>Cidade Universitária, Recife, PE.</p>
  </div>
  <div class ="social-container">
    <div class = "social-medias">
      <img src="media/facebook-icon.svg" alt="Ícone de uma mensagem" id="social-icon">
      <img src="media/instagram-icon.svg" alt="Ícone de uma mensagem"id="social-icon">
      <img src="media/whatsapp-icon.svg" alt="Ícone de uma mensagem" id="social-icon">
    </div>
    <div class = "signature">
      <p>Made with <a><img src="media/brackets.svg" alt="Ícone de uma mensagem" id="signature-icon"></a>and <a><img src="media/heart.svg" alt="Ícone de uma mensagem" id="signature-icon"></a></p>
    </div>
  </div>
</section>