{% load static %}

<section class="footer-container">
  <div class ="logo-container">
    <img src="media/logo-navbar.svg" alt="logo" id="navbar-logo">
    <p>Todos os direitos reservados.</p>
  </div>
  <div class ="contact-container">
    <p class="footer-title">Contato:</p>
    <a>maratonacin@gmail.com</a>
    <!-- <img src="media/message.svg" alt="Ícone de uma mensagem" id="message-icon"> -->
    <p>Avenida Jornalista Aníbal Fernandes,</p>
    <p>Cidade Universitária, Recife, PE.</p>
  </div>
  <div class ="social-container">
    <div class = "social-medias">
      <img src="media/facebook-icon.svg" alt="Ícone de uma mensagem" id="social-icon">
      <img src="media/instagram-icon.svg" alt="Ícone de uma mensagem"id="social-icon">
      <img src="media/whatsapp-icon.svg" alt="Ícone de uma mensagem" id="social-icon">
    </div>
    <div class = "signature">
      <a>Made with <img src="media/brackets.svg" alt="Ícone de uma mensagem" id="signature-icon"> and <img src="media/heart.svg" alt="Ícone de uma mensagem" id="signature-icon"></a>
    </div>
  </div>
</section>