<section class="journey">
  <div class="title-container">
    <h1>Nossa Jornada</h1>
  </div>
  <div class="journey-container">
    <div class="info">
      <div class="year-container">
        <div class="event-container" id="2019">
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
        </div>
        <div class="year">2019</div>
      </div>
      <div class="year-container">
        <div class="event-container" id="2018">
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
        </div>
        <div class="year">2018</div>
      </div>
      <div class="year-container">
        <div class="event-container" id="2017">
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
          <div class="event"></div>
        </div>
        <div class="year">2017</div>
      </div>
      <div></div>
    </div>
  </div>
</section>