{% load static %}
<section class="navbar">
  <div class="navbar-ghost"></div>
  <div class="navbar-container">
    <nav>
      <div class="menu-wrapper">
        <div class = "logo-container">
          <img src="media/logo-navbar.svg" alt="logo" id="navbar-logo">
        </div>
        <a class="show-menu"><i class="fa fa-bars show-menu"></i></a>
      </div>
      <div class="menu-container menu-container-navbar">
        <ul class="menu">
          <li><a class="cards-link">Quem Somos?</a></li>
          <li><a class="journey-link">Nossa Jornada</a></li>
          <li><a class="testimonials-news-link">Depoimentos/Notícias</a></li>
          <li><a class="fame-link">Hall da Fama</a></li>
          <li><a class="study-link">Estudo</a></li>
          <li><a class="footer-link">Contato</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="menu-container menu-container-side">
  <ul class="menu menu-side">
    <li><a class="cards-link">Quem Somos?</a></li>
    <li><a class="team-link">Time Atual</a></li>
    <li><a class="schedule-container-link">Cronograma</a></li>
    <li><a class="leaderboards-link">Quadro de Medalhas</a></li>
    <li><a class="journey-link">Nossa Jornada</a></li>
    <li><a class="testimonials-link">Depoimentos</a></li>
    <li><a class="news-link">Notícias</a></li>
    <li><a class="fame-link">Hall da Fama</a></li>
    <li><a class="partners-link">Apoiadores</a></li>
    <li><a class="study-link">Materiais de Estudo</a></li>
    <li><a class="footer-link">Contato</a></li>
  </ul>
  <div></div>
</div>
