{% load static %}
<section class="navbar">
  <div class="navbar-ghost"></div>
  <div class="navbar-container">
    <nav>
      <div class="menu-wrapper">
        <div class = "logo-container">
          <img src="media/logo-navbar.svg" alt="logo" id="navbar-logo">
        </div>
        <div class="menu-container menu-container-navbar">
          <ul class="menu">
            <li><a>Quem Somos?</a></li>
            <li><a>Nossa Jornada</a></li>
            <li><a>Depoimentos/Notícias</a></li>
            <li><a>Hall da Fama</a></li>
            <li><a>Estudo</a></li>
            <li><a>Contato</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
<div class="menu-container menu-container-side">
  <ul class="menu menu-side">
    <li><a class="cards">Quem Somos?</a></li>
    <li><a class="team">Time Atual</a></li>
    <li><a class="schedule-container">Cronograma</a></li>
    <li><a>Quadro de Medalhas</a></li>
    <li><a>Nossa Jornada</a></li>
    <li><a>Depoimentos</a></li>
    <li><a>Notícias</a></li>
    <li><a>Hall da Fama</a></li>
    <li><a>Materiais de Estudo</a></li>
    <li><a>Apoiadores</a></li>
    <li><a>Contato</a></li>
  </ul>
  <div></div>
</div>
