{% load static %}
<section class="navbar">
  <div class="navbar-ghost"></div>
  <nav>
    <div class="menu-wrapper">
      <div class = "logo-container">
        <img src="media/logo-sem-fundo.png" alt="logo" id="navbar-logo">
      </div>
      <a class="show-menu"><i class="fa fa-bars show-menu"></i></a>
    </div>
    <div class = "menu-container">
      <ul class="menu">
        <li><a>Quem Somos?</a></li>
        <li><a>Nossa Jornada</a></li>
        <li><a>Depoimentos/Notícias</a></li>
        <li><a>Hall da Fama</a></li>
        <li><a>Estudo</a></li>
        <li><a>Contato</a></li>
      </ul>
    </div>
  </nav>
</section>
