{% load static %}
<section class="schedule-container">
  <h1 class="schedule-title">Cronograma</h1>
  <div class="schedule-table-wrapper">
    <div class="schedule-table">
      <div class="schedule">
        {% for event in Schedule %}
        <div class="title-wrapper">
          <h1>{{ event.activity_date|date:"d"}} de {{ event.activity_date|date:"F"}}</h1>
        </div>
        <div data-slide="{{ event.id }}" class="text-container" onclick="handleScheduleClick(this)">
          <p>{{ event.activity }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="schedule-detail-carousel">
      {% for event in Schedule %}
      <div data-slide="{{ event.id }}" class="schedule-detail-container">
        <h1>{{ event.activity }}</h1>
        <p>{{ event.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
