{% load static %}
<section class="schedule-container">
  <h1>Cronograma</h1>
  <div class="schedule-table">
    <div class="schedule">
      <div class="title-wrapper">
        <h1>18 de Maio</h1>
      </div>
      <div class="text-container">
        <p>Início dos desafios</p>
        <p>Check-in</p>
      </div>
    </div>
    <div class="schedule">
      <div class="title-wrapper">
        <h1>23 de Junho</h1>
      </div>
      <div class="text-container">
        <p>Premiações</p>
        <p>Check-out</p>
      </div>
    </div>
    <div class="schedule">
      <div class="title-wrapper">
        <h1>23 de Julho</h1>
      </div>
      <div class="text-container">
        <p>Medalhas de Honra e Hall da Fama</p>
        <p>Encerramento</p>
      </div>
    </div>
  </div>
</section>