{% load static %}
<section class="schedule">
  <h1>Cronograma</h1>

  <div class = "schedule-container">
    <div class = "schedule-table">
      <div class = "schedule-dayone">
        <h1>18 de Maio</h1>

        <div class = "schedule-dayone-details">
          <p>Início dos desafios</p>
          <p>Check-in</p>
        </div>
      </div>
      
    
      <div class = "schedule-daytwo">
        <h1>23 de Junho</h1>
        <div class = "schedule-daytwo-details">
          <p>Premiações</p>
          <p>Check-out</p>
      </div>
      </div>
   
      <div class = "schedule-daythree">
        <h1>23 de Julho</h1>
        <div class = "schedule-daythree-details">
          <p>Medalhas de Honra e Hall da Fama</p>
          <p>Encerramento</p>
      </div>
      </div>
      
    </div>
  </div>
</section>