{% load static %}

<section class="study">
  <h1 class="study-title">Ficou interessado?</h1> 
  <h2 class="study-subtitle">Aqui vão alguns materiais de estudo:</h2>
  <div class="link-wrapper">
    {% for slide in links %}
    <div class="study-container">
      {% for link in slide %}
      <div class="study-table">
        <div class="image-container">
          <img src="{{ link.icon }}" alt="study image">
        </div>
        <a href="{{ link.link }}" target="_blank">
          <div class="text-container">
            <h4>{{ link.title }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endfor %} 
  </div>
</section>