{% load static %}

<section class="study">
  <h1 class="study-title">Ficou interessado?</h1> 
  <h2 class="study-subtitle">Aqui vão alguns materiais de estudo:</h2>

  <div class = "study-container">
    <div class = "study-table" id="yellow-form">
      <div class="circle">
      </div>
      <div class="rectangle" id ="red-form">
        <!-- <a>Teste</a> -->
      </div>
    </div>

    <div class = "study-table">
      <div class="circle" id="blue-form">
      </div>
      <div class="rectangle" id="red-form">
      </div>
    </div>
  </div>

  <div class = "study-container" id="mirror">
    <div class = "study-table" id = "yellow-form">
      <div class="circle">
      </div>
      <div class="rectangle" id="blue-form">
      </div>
    </div>
  
    <div class = "study-table">
      <div class="circle" id="red-form">
      </div>
      <div class="rectangle" id="yellow-form">
      </div>
    </div>
  </div>

  <div class = "study-container">
    <div class = "study-table">
      <div class="circle" id="yellow-form">
      </div>
      <div class="rectangle" id="red-form">
      </div>
    </div>
  
    <div class = "study-table">
      <div class="circle" id="blue-form">
      </div>
      <div class="rectangle" id="red-form">
      </div>
    </div>  
  </div>
</section>