{% load static %}

<section class="study">
  <h1 class="study-title">Ficou interessado?</h1> 
  <h2 class="study-subtitle">Aqui vão alguns materiais de estudo:</h2>
  <div class="link-wrapper">
    <div class="study-container">
      <div class="study-table">
        <div class="image-container"></div>
        <div class="text-container">
          <h2>Curso de React</h2>
        </div>
      </div>
      <div class="study-table">
        <div class="image-container"></div>
        <div class="text-container"></div>
      </div>
      <div class="study-table">
        <div class="image-container"></div>
        <div class="text-container"></div>
      </div>
    </div>
    <div class = "study-container">
      <div class = "study-table">
        <div class="image-container"></div>
        <div class="text-container"></div>
      </div>
      <div class = "study-table">
        <div class="image-container"></div>
        <div class="text-container"></div>
      </div>
      <div class = "study-table">
        <div class="image-container"></div>
        <div class="text-container"></div>
      </div>  
    </div>
  </div>
</section>