{% load static %}
{% load mathfilters %}
<section class="team">
  <h1>Time Atual</h1>
  <div class="carousel-team">
    {% for slide in object_list %}
    <div class="participant-container">
      {% for participant in slide %}
      <div class="participant" id="{{ participant.id }}">
        <img src="media/participant.png" alt="participant"> 
        <div class="text-container">
          <p id="name">{{ participant.name }}</p>
          <p id="email">{{ participant.email }}</p>
          <p id="github">Github:</p>
          <a href="{{ participant.github }}" target="_blank">{{ participant.github_nickname }}</a>
          <p id="code-forces">CodeForces:</p>
          <a href="{{ participant.codeforces }}" target="_blank">{{ participant.codeforces_nickname }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>