{% load static %}
<section id="team">
  <h1>Time Atual</h1>
  <div class="carousel-team">
    <div class="participant-container">
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
    </div>
    <div class="participant-container">
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
    </div>
    <div class="participant-container">
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
      <div class="participant">
        <img src="media/participant.png" alt="participant">
        <p>Texto sobre o participante Texto sobre o participante Texto sobre o participante Texto sobre o participante </p>
      </div>
    </div>
  </div>
</section>