<section class="testimonials">
  <h1>Depoimentos</h1>
  <div class="carousel-testimonials">
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
    <div class="message">
      <p id="content">Melhor fase da minha vida</p>
      <p id="author">Maria Aluna de Ciência da Computação</p>
    </div>
  </div>
</section>