.banner {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .banner #icons {
    flex: 1;
    margin: 40px 0 0 80px; }
    .banner #icons .fa {
      text-decoration: none; }
      .banner #icons .fa:hover {
        opacity: 0.7; }
    .banner #icons .fa-facebook {
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 19px;
      height: 19px;
      border-radius: 28%;
      -webkit-border-radius: 28%;
      -moz-border-radius: 28%;
      -ms-border-radius: 28%;
      box-shadow: 0 0 0 6px #479EFC;
      font-size: 40px;
      float: left;
      color: #479EFC; }
    .banner #icons .fa-instagram {
      margin: 10px;
      font-size: 80px;
      color: #FCDA33; }
  .banner #image-container {
    flex: 1; }
    .banner #image-container #logo {
      display: block;
      margin: 0 auto 0 auto;
      width: 100%;
      max-width: 400px; }
  .banner .ball-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .banner .ball-container .ball {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 10px 50px 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%; }
    .banner .ball-container #blue {
      background-color: #479EFC; }
    .banner .ball-container #yellow {
      background-color: #FCDA33; }
    .banner .ball-container #red {
      background-color: #DE392D; }

.about {
  display: flex;
  flex-wrap: wrap; }
  .about .text-wrapper {
    width: 50%; }
    .about .text-wrapper .text-container {
      width: 70%;
      margin: 100px auto; }
      .about .text-wrapper .text-container .image-container {
        min-width: 100%;
        min-height: 100%; }
        .about .text-wrapper .text-container .image-container img {
          margin: 1px solid red; }
      .about .text-wrapper .text-container h2 {
        color: #DE392D;
        font-size: 3rem;
        margin-bottom: 10px; }
  .about .carousel {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0; }
    .about .carousel .slick-slide {
      margin: 0; }
      .about .carousel .slick-slide img {
        height: 100%;
        width: 100%;
        margin: auto; }
    .about .carousel .slick-dots {
      bottom: 50px;
      max-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .about .carousel .slick-dots li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px; }
        .about .carousel .slick-dots li .dot {
          min-width: 30px;
          max-width: 30px;
          min-height: 30px;
          max-height: 30px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%; }
      .about .carousel .slick-dots li:first-child .dot {
        border: 2px solid #479EFC;
        background-color: #479EFC; }
      .about .carousel .slick-dots li:nth-child(2) .dot {
        border: 2px solid #FCDA33;
        background-color: #FCDA33; }
      .about .carousel .slick-dots li:nth-child(3) .dot {
        border: 2px solid #DE392D;
        background-color: #DE392D; }
      .about .carousel .slick-dots .slick-active .dot {
        background-color: transparent !important; }

body, html {
  margin: 0; }

/*# sourceMappingURL=main.css.map */