{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maratona CIn</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="banner">
    <div id="icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
    <div id="image-container">
      <img src="{% static 'media/logo.png'%}" alt="logo" id="logo">
    </div>
    <div class="ball-container">
      <a class="ball" id="blue"></a>
      <a class="ball" id="yellow"></a>
      <a class="ball" id="red"></a>
    </div>
  </div>

  <section class = "navbar">
    <div class = "logo">
      <img src="{% static 'media/logo-sem-fundo.png'%}" alt="logo" id="navbar-logo">
    </div>
    <div class = "menu">
      <ul>
        <li><a href="#">Quem Somos?</a></li>
        <li><a href="#">Nossa Jornada</a></li>
        <li><a href="#">Depoimentos/Notícias</a></li>
        <li><a href="#">Hall da Fama</a></li>
        <li><a href="#">Estudo</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </section>
  <script src="{% static 'js/app.js' %}"></script>

</body>
</html>