{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maratona CIn</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />

</head>
<body>
  <h1>Posts</h1>
  <div>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
    {% endfor %}
  </div>
</body>
</html>