#cards {
  width: 80%;
  margin: auto;
  .text-container {
    .title-wrapper {
      color: $red;
      font-family: "Nexa Bold", sans-serif;
      h1 {
        margin-bottom: 0;
        font-size: 2.3rem;
      }
    }
    .text-wrapper {
      width: 100%;
      font-family: "Avenir", sans-serif;
      @include flex(space-between, center);
      p {
        max-width: 45%;
      }
    }
  }
  .carousel-wrapper {
    margin:50px auto;
    .carousel-cards {
      @include flex(space-between, center);
      // margin: auto;
      .card {
        text-align: center;
        @include border-radius(25px, border);
        // margin: 30px;
        // @include absolutewh(25%,100%);
        max-width: 25%;
        padding: 10px;
      }
      .slick-dots{
        max-height: 20px;
        @include flex(center, center);
        li {
          @include flex(center, center);
          margin: 15px;
          .dot {
            @include absolutewh(1.3rem,1.3rem);
            @include border-radius(50%, border);
          }
        }
        $dot-colors: ('1': $blue, '2': $yellow, '3': $red);
        @each $num, $color in $dot-colors {
          li:nth-child(#{$num}) .dot {
            border: 4px solid $color;
            background-color: $color;
          }
        }
        .slick-active .dot {
          background-color: transparent !important;
        }
      }

      $card-colors: ('blue': $blue, 'yellow': $yellow, 'red': $red);

      @each $class, $color in $card-colors {
        .#{$class} {
          box-shadow: 0 0 0 .3em #{$color};
          h2 {
            color: #{$color};
            font-family: "Nexa Bold", sans-serif;
          }
        }
      }
      p {
        width: 80%;
        margin: auto;
        font-family: "Avenir", sans-serif;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .card{
    margin: 20px;
  }
  .text-container {
    text-align: center;
  }
}