.footer-container{
  @include flex(center, center);
  background-color: $red;
  display: flex;
  flex-direction: row;

  a,p{
    @include flex(left, center);
    font-size: 1.2rem;
    color: white;
    font-family: "Nexa Light", sans-serif;
  }

  .footer-title{
    font-size: 1.3rem;
    font-family: "Nexa Bold", sans-serif;
  }
  .logo-container{
    @include flex(center, center);
    display: flex;
    flex-direction: column;

    #navbar-logo{
      width: 380px;
      height: 120px;
    }
  }

  .contact-container{
    #message-icon{
      width: 100px;
      height: 140px;
    }
  }

  .social-container{
    @include flex(center, center);
    flex-direction: column;
    #social-icon{
      width: 100px;
      height: 140px;
    }

    #signature-icon{
      color: white;
      width:100px;
      height: 40px;
    }

    .social-medias{
      display: flex;
      flex-direction: row;
    }
    .signature{
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer-container{
    display: flex;
    flex-direction: column;
  }
}