.footer{
  @include flex(center, center);
  padding: 30px 0 30px 0;
  background-color: $red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a,p{
    @include flex(left, center);
    font-size: 1.2rem;
    color: white;
    font-family: "Nexa Light", sans-serif;
  }

  .footer-title{
    font-size: 1.7rem;
    font-family: "Nexa Bold", sans-serif;
  }
  .logo-container{
    @include flex(center, center);
    display: flex;
    flex-direction: column;

    #navbar-logo{
      width: 380px;
      height: 120px;
    }
  }

  .contact-container{
    #contact-icon{
      width: 100px;
      height: 80px;
    }

    h2{
      color:white;
    }

    p{
      margin-top: -5px;
    }
  }

  .social-container{
    @include flex(center, center);
    flex-direction: column;

    #social-icon{
      width: 100px;
      height: 100px;
    }

    #signature-icon{
      color: white;
      width:100px;
      height: 35px;
      display: block;
    }
    
    .social-medias{
      display: flex;
      flex-direction: row;
    }
    .signature{
      flex-direction: column;
      a {
        margin-left: -20px;
        margin-right: -20px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer{
    display: flex;
    flex-direction: column;

    .logo-container{
      display: none;
    }
  }
}