.leaderboards-container {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;

  h1 {
    color: $red;
    font-size: 2.3rem;
    font-family: "Nexa Bold", sans-serif;
  }

  h2 {
    color: $red;
    font-size: 1.7rem;
    font-family: "Nexa Bold", sans-serif;
  }

  .leaderboards-table{
    display: flex;
    flex-direction: row;
    
    .leaderboards-national{
      display: flex;
      flex-direction: column;
      width: 35%;
      background-color: $red;
    }

    .leaderboards-international{
      display: flex;
      flex-direction: column;
      width: 65%;
      background-color: $blue;
    }

  }
}