@import 'refs.scss';
@import 'banner.scss';
@import 'navbar.scss';
@import 'about.scss';
@import 'cards.scss';
@import 'team.scss';

body, html {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
   font-family: "Nexa Bold";
   src:url("../font/Nexa-Bold.otf");
   font-weight: 300;
   font-style: bold;
}

@font-face {
  font-family: "Nexa Light";
  src:url("../font/Nexa-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src:url("../font/AvenirLTStd-Book.otf");
  font-weight: 300;
  font-style: normal;
}
