@import 'refs.scss';
@import 'banner.scss';
@import 'navbar.scss';
@import 'about.scss';
@import 'cards.scss';
@import 'team.scss';
@import 'schedule.scss';
@import 'leaderboards.scss';
@import 'testimonials.scss';
@import 'news.scss';
@import 'partners.scss';

@media screen and (min-width: 1050px) {
  section:not(.navbar) {
    &:nth-child(2n) {
      height: 85vh !important;
      max-width: 100vw !important;
    }
    &.about {
     height: 93vh !important; 
    }
    &.banner {
      height: 100vh !important;
    }
    &.cards {
      height: 90vh !important;
    }
    &.team {
      margin: -20vh auto -20vh auto;
    }
  }
}

@media screen and (max-width: 1025px) {
  section.cards {
    // height: 85vh;
  }
}

.slick-slide {
  outline: none !important;
  * {
    outline: none !important;
  }
}

body, html {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
   font-family: "Nexa Bold";
   src:url("../font/Nexa-Bold.otf");
   font-weight: 300;
   font-style: bold;
}

@font-face {
  font-family: "Nexa Light";
  src:url("../font/Nexa-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src:url("../font/AvenirLTStd-Book.otf");
  font-weight: 300;
  font-style: normal;
}
