.navbar {
  display: flex;
  background-color: $red;
  .navbar-ghost {
    width: 0px;
  }
  .navbar-container {
    margin: auto;
    width: 100%;
    background-color: $red;
    nav {
      @include flex(space-between, center);
      background-color: $red;
      width: 90%;
      margin:auto;
      .menu-wrapper {
        width: 14%;
        .logo-container{
          width: 100%;
          #navbar-logo{
            width: 140px;
            height: 60px;
          }
        }
        .show-menu {
          @include flex(center, center);
          color: white;
        }
      }
    }
  }
}
.menu-container {
  width: 86%;
	.menu {
    width: 100%;
    margin: 0;
    padding: 0;
    @include flex(center, center);
		li{
      width: auto;
			list-style-type: none;
			margin: 5px 3% 5px 3%;
      text-align: center;
			a {
				// padding: 10%;
				text-decoration: none;	
				color: white;
				font-size: 1rem;
				font-family: "Nexa Light", sans-serif;
				cursor: pointer;
			&:hover {
				font-family: "Nexa Bold", sans-serif;
				}	
			}
		}
	}   
}

.fixed {
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 1024px) {
	nav {
		@include flex(space-between, center, column);
		.menu-wrapper {
			@include flex(space-between, center);
      width: 100% !important;
		.logo-container {
			margin: 0 30px 0 0;
		}
			> a {
				margin: 0 0 0 30px;
				display: block;
        font-size: 2rem;
				cursor: pointer;
			}
		}
		.menu-container-navbar {	
			position: fixed;
			height: 100%;
			width: 0;
			top: 0;
			right: 0;
			z-index: 2;
			margin: auto;
			overflow-x: hidden;
			background-color: $red; 		
			.menu {
			  @include flex(flex-start, center, column);
				padding: 0;
			}
		}
	}
	.menu-container-side {	
		position: fixed;
		height: 100%;
		width: 0;
		top: 0;
		right: 0;
		z-index: 2;
		margin: auto;
		overflow-x: hidden;
    background-color: $dark-red; 
    transition-timing-function: ease-in-out;
		transition: width 0.5s;		
		.menu-side {
      @include flex(space-around, flex-start, column);
      height: 60%;
      padding-left: 20px;
      a {
        white-space: nowrap;
      }
		}
	}
}

@media screen and (min-width: 1025px) {
  .navbar-container {
    nav {
      .menu-wrapper {
        .show-menu {
          display: none !important;
        }
      }
    }
  }
	.menu-container-side {
		display: none;
		.menu-side {
			display: none;
		}
	}
}