.navbar{
	@include flex(center, center);
  background-color: #E63838;
  padding-top: 10px;
  padding-bottom: 10px;
  position:relative;

  .logo{
		float:left;
		
		#navbar-logo{
			width: 180px;
			height: 90px;
		}
	}
	.menu{
		ul{
			display: flex;
			align-items: center;
			flex-direction: row;
			li{
				list-style-type: none;
				a {
					display: block;
					padding: 0 40px 0 40px;
					text-decoration: none;	
					color: white;
					font-size: 1.2rem;
					// font-family: "Nexa Light", sans-serif;
				&:hover {
					// opacity: 0.7;
					// font-family: "Nexa Bold", sans-serif;
				}	
				}
			}
		}    
	}
}












