.partners { 
  display: flex;
  height: 50vh !important;
  width: 90%;
  margin: auto;
  .text-container {
    h1 {
      color: $red;
      font-family: "Nexa Bold", sans-serif;
      font-size: 2.3rem;
    }
    p {
      font-family: "Avenir", sans-serif;
    }
  }
  .carousel-partners {
    @include flex(center, center);
    width: 60%;
    height: 50%;
    .slick-list {
      // margin: auto;
      height: 100%;
      .slick-track {
        height: 100%;
        .partner-container {
          @include flex(center, flex-end);
          vertical-align: text-bottom !important;
          overflow: hidden;
          height: 100%;
          img {
            height: 100%;
            margin: 0 auto;
            bottom: 0 !important;
          }
          .plus {
            
          }
        }
        .slick-slide {
          img {
          }
        }
      }
    }
    .arrow {
      color: $red;
      margin: 10px;
      cursor: pointer;
      font-size: 5rem;
    }
  }
}