.study{
  width: 80%;
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px;
  h1 {
    color: $red;
    font-size: 2.3rem;
    font-family: "Nexa Bold", sans-serif;
  }
  h2 {
    color: black;
    font-size: 1.7rem;
    font-family: "Nexa Light", sans-serif;
  }
  .link-wrapper {
    width: 100%;
    @include flex(center, center, row);
    .study-container{
      @include flex(center, center, column);
      margin-top: 20px;
      width: 50%;
      .study-table{ 
        @include flex(flex-start, center);
        width: 100%;
        margin: 20px 0 20px 0;
        .image-container { 
          position: absolute;
          width: 100px;
          height: 100px;
          background: white; 
          border-radius: 50%;
          @include flex(cc);
          overflow: hidden;
          img {
            max-width: 90% !important;
            max-height: 90% !important;
          }
        }
        a {
          color: black !important;
          text-decoration: none !important;
          width: 80% !important; 
          height: 70px;
          .text-container {
            @include flex(cc);
            font-family: "Nexa Bold", sans-serif;
            text-decoration: none;
            height: 70px;
            border-radius: 50px;
            h4 {
              margin: 0 0 0 110px;
              width: 50%;
            }
          }
        }
      }
      .study-table:nth-child(2n) {
        justify-content: flex-end;
        .text-container {
          h4 {
            margin: 0 40px 0 0;
            width: 50%;
          }
        }
      }
    }
  }
}

.study-container:nth-child(n) {

  .study-table:nth-child(n) {
    .image-container {
      border: 2px solid $yellow;
    }
    .text-container {
      background-color: $red;
    }
  }
  .study-table:nth-child(2n) {
    .image-container {
      border: 2px solid $blue;
    }
    .text-container {
      background-color: $yellow;
    }    
  }
  .study-table:nth-child(3n) {
    .image-container {
      border: 2px solid $red;
    }
    .text-container {
      background-color: $blue;
    }
  }
}
.study-container:nth-child(2n) {
  .study-table:nth-child(n) {
    .image-container {
      border: 2px solid $red;
    }
    .text-container {
      background-color: $blue;
    }
  }
  .study-table:nth-child(2n) {
    .image-container {
      border: 2px solid $yellow;
    }
    .text-container {
      background-color: $red;
    }    
  }
  .study-table:nth-child(3n) {
    .image-container {
      border: 2px solid $blue;
    }
    .text-container {
      background-color: $yellow;
    }
  }
}


@media screen and (max-width: 1025px) {
  .link-wrapper {
    flex-direction: column !important;
    .study-container {
      width: 100% !important;
    }
    .study-container:nth-child(2n) {
      .study-table:nth-child(2n) {
        justify-content: flex-start !important;
        .text-container {
          h4 {
            margin: 0 0 0 80px;
            width: 50%;
          }
        }
      }
      .study-table:nth-child(2n + 1) {
        justify-content: flex-end !important;
        .text-container {
          h4 {
            margin: 0 80px 0 0;
            width: 50%;
          }
        }
      }
    }
  }
}