.team {
  width: 90%;
  margin: auto;
  .title-container {
    width: 80%;
    margin: auto;
    h1 {
      color: $red;
      font-size: 2.3rem;
      font-family: "Nexa Bold", sans-serif;
    }
  }
  .carousel-team {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .participant-container {
      display: flex;
      .participant {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 0 auto;
        max-width: 20%;
        .image-container {
          width: 150px;
          height: 150px;
          @include border-radius(50%);
          overflow: hidden;
          img {
            margin: auto;
          }
          .landscape {
            height: 100% !important;
          }
          .portrait {
            width: 100% !important;
          }
        }
        .text-container {
          font-family: "Nexa Bold", sans-serif;
          text-align: center;
          margin-top: 15px;
          * {
            padding: 0;
            margin: 5px 0 5px 0;
            color: $blue !important;
          }
          .name {
            font-size: 1.2rem; 
          }
        }
      }
    }
    .arrow {
      color: $red;
      margin: 10px;
      cursor: pointer;
      font-size: 5rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .team {
    width: 90%;
    .carousel-team {
      width: 100%;
      .participant-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .participant {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;
          max-height: 150px !important;
          max-width: 100%;
          min-width: 60%;
          .image-container {
            width: 100px;
            height: 100px;
            img {
              margin: auto;
            }
            .landscape {
              height: 100% !important;
            }
            .portrait {
              width: 100% !important;
            }
          }
        }
        .participant:nth-child(2n) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .team {
    width: 100%;
  }
  .participant-container {
    .participant {
      img {
        // width: 30%;
      }
      .text-container {
        p {
          font-size: 3vw;
        }
      }
    }
  }
}